{% extends 'base.html.twig' %}
{% block title %}AppartScan - Connexion
{% endblock %}

{% block body %}
	<div class="container login">
		<h1>Connexion</h1>

		{% if error %}
			<div class="alert alert-danger">
				{{error.messageKey|trans(error.messageData, 'security')}}
			</div>
		{% endif %}

		{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4">
				{{message}}
			</div>

		{% endfor %}


		<form action="{{path('security.login')}}" method="post">
			<div class="form">

				<div>
					<label for="username" class="">Adresse email</label>
					<input type="email" class="" id="username" name="_username" placeholder="exemple@appartscan.com" value="{{last_username}}">
					<span id="emailHelp" class="">We'll never share your email with anyone else.</small>
				</div>
				<div>
					<label for="password" class="">Mot de passe</label>
					<input type="password" class="" id="password" name="_password" placeholder="********">
				</div>

				<div>
					<button type="submit" class="">Se connecter</button>
				</div>

			</div>
		</form>

		<span class="" >Nouveaux sur AppartScan ? <a href="{{path("security.registration")}}" >Créer un compte</a></span>

	</div>
	{% endblock %}
